* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #181818;
}

header {
    padding: 20px 6%;
    background: #111111;
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 800;
}

header p {
    margin: 6px 0 0;
    color: #d8ff35;
    font-size: 14px;
}

main {
    max-width: 1100px;
    margin: auto;
}

section {
    padding: 55px 6%;
}

section:first-child {
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    max-width: 650px;
    margin: 0 0 16px;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 800;
}

p {
    max-width: 620px;
    line-height: 1.6;
    font-size: 16px;
}

button {
    width: fit-content;
    padding: 13px 22px;
    margin-top: 15px;
    border: none;
    background: #d8ff35;
    color: #111111;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #111111;
    color: #d8ff35;
}

section:nth-child(2) {
    background: #f3f3f3;
}

article {
    padding: 18px 0;
    border-bottom: 1px solid #cccccc;
}

article h3 {
    margin: 0 0 6px;
    font-size: 20px;
}

section:nth-child(3) {
    background: #d8ff35;
}

footer {
    padding: 25px 6%;
    background: #111111;
    color: #ffffff;
}

footer p {
    margin: 0;
    font-size: 14px;
}
.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.producto {
    padding: 25px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.producto-imagen {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    overflow: hidden;
}

.producto-imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.producto strong {
    display: block;
    margin-top: 15px;
}

@media (max-width: 700px) {
    .productos {
        grid-template-columns: 1fr;
    }
}
.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

nav {
    display: flex;
    gap: 22px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

nav a:hover {
    color: #d8ff35;
}

@media (max-width: 700px) {

    .barra {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        gap: 15px;
    }

}
#btnContacto {
    display: inline-block;
    width: fit-content;
    padding: 13px 22px;
    margin-top: 15px;
    background: #d8ff35;
    color: #111111;
    font-weight: bold;
    text-decoration: none;
}

#btnContacto:hover {
    background: #111111;
    color: #d8ff35;
}